# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Build folders
dist/
build/

# Cache
.cache/
.parcel-cache/

# OS files
.DS_Store
Thumbs.db

# Vite files
.vite/

# Coverage
coverage/

# Editor folders
.vscode/
.idea/

# Temporary files
*.tmp
*.temp